#battleship {
    -fx-font-family: monospace;
}

.lb_header {
    -fx-font-size: 40px;
    -fx-text-fill: #000000;
    fx-text-alignment: center;
    -fx-font-weight: bold;
}

.lb_player {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    fx-text-alignment: center;
    -fx-font-weight: bold;

}

.buttons {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.buttons Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

.buttons:hover {
    -fx-background-color: #a9aa0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.slider .axis {
    -fx-pref-width: 300px;
    -fx-tick-label-fill: #ffffff;
    -fx-tick-label-font-weight: bold;
}

.bg_sea {
    -fx-background-image: url(pics/meer.jpg);
    -fx-background-size: cover;

}

.bg_gray {
    -fx-background-color: #c3c4c4;
}

.bg_game {
    -fx-background-image: url(pics/backgroundGame.jpg);
    -fx-background-size: cover;
}

.bg_playerA {
    -fx-background-image: url(pics/backgroundPlayerA.jpg);
    -fx-background-size: cover;
}

.bg_playerB {
    -fx-background-image: url(pics/backgroundPlayerB.jpg);
    -fx-background-size: cover;
}

.buttonSoundOn {
    -fx-background-image: url(pics/soundOn.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #a9aa0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.buttonSoundOff {
    -fx-background-image: url(pics/soundOff.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #a9aa0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.buttonSettings {
    -fx-background-image: url(pics/settings.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #a9aa0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.buttons {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.buttons Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

.buttons:hover {
    -fx-background-color: #a9aa0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}